# Gradle
build/
.gradle/
.kotlin/
local.properties

# IDE
*.iml
.idea/

# xray binaries (downloaded via scripts/download-xray.sh)
app/src/main/jniLibs/

app/release/
gradle/gradle-daemon-jvm.properties
